
#menu .sub_menu ul {
    display: none;
    position: fixed;
    background-color: deepskyblue;
    list-style-type: none;
    border-left: 3px solid darkslategrey;
    border-right: 3px solid darkslategrey;
    border-bottom: 3px solid darkslategrey;
    margin-top: 3px;
    padding: 10px;
}
#menu .sub_menu:hover ul {
    display: block;
}
#menu {
    background-color: darkslategrey;
    color: aliceblue;
}
#menu td{
    padding-left: 15px;
    padding-right: 15px;
}