
#table1 {
   
    border-collapse:collapse;
    background-color:cornsilk;
}
#table1 th{
    color: darkgreen;
}
#table1 td{
  
}
#table1 th,#table1 td{
    padding: 10px;
    border: 1px solid black;
}
#ul_1 {
    list-style-position: inside;
    list-style-type: square;
}
#ul_2 {
    list-style-position: outside;
    list-style-type: circle;
}
#ol_1 {
    list-style-position: inside;
    list-style-type:lower-alpha;
}
#ol_2 {
    list-style-position: outside;
    list-style-type:upper-roman;
}